* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 205, 50, 1);
  scroll-behavior: smooth;
  width: 100lvw;
  /* height: 100%; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

header {
  text-align: left;
  margin: auto;
  width: 100lvw;
  padding-top: 5rem;
  background-color: rgba(255, 205, 50, 1);
}

.container {
  max-width: 400px;
  height: 100%;
  margin: auto;
  padding: 2rem 1.5rem;
}

h1 {
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

ul li {
  list-style: none;
  padding: 0;
}

.header-info {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 4rem 4rem 10rem 0;
}

#amount-form-container,
#category-form-container {
  padding-top: 3rem;
  text-align: right;
}

#category-form-container {
  padding-bottom: 2rem;
}

.amount-form {
  font-size: 3.6rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.15);
  text-align: right;
  text-transform: uppercase;
  border: none;
  border-bottom: none;
}

.amount-form-field,
.category-form-field {
  box-sizing: border-box;
  font-size: 3.6rem;
  font-weight: 200;
  letter-spacing: 0.15rem;
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  background: none;
  border: none;
  border-bottom: none;
  padding: 0.2rem;
}

input[type='text']:focus {
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.name {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

.dollar {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.percent-container {
  display: flex;
  align-items: end;
  color: rgba(0, 0, 0, 0.6);
}

.percentage {
  font-size: 3.8rem;
  font-weight: 200;
  letter-spacing: -0.5rem;
  line-height: 3.8rem;
}

.percent-sign {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 0.75rem;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: none;
  width: 100lvw;
  left: 0;
  position: absolute;
}

button {
  width: 2.4rem;
  height: 2.4rem;
  scale: 1;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  background: none;
  cursor: pointer;
  align-self: end;
  margin-top: 0.8rem;
}

.btn-delete {
  margin-bottom: 0.4rem;
  margin-right: 1rem;
}

.btn-add {
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}

.amount-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.category-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.category-title {
  text-align: right;
}

.category-result {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.category-container {
  margin-bottom: 4rem;
}

.slider {
  padding: 1rem 0;
  background: none;
}

.slider-border {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.15);
  padding: 0.4rem 1.5rem 0.2rem;
  margin-top: 0.5rem;
}

/*SLIDER BAR*/

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.1rem;
  cursor: pointer;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.15);
  background-color: none;
  border: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.15);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 0.1rem;
  cursor: pointer;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.15);
  border: none;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 0.1rem;
  cursor: pointer;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.15);
  border: none;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: none;
  border: none;
  height: 1.1rem;
  width: 4rem;
  border-radius: 1rem;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.55rem;
}
input[type='range']::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 1.1rem;
  width: 4rem;
  border-radius: 1rem;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.55rem;
}

input[type='range']::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 1.1rem;
  width: 4rem;
  border-radius: 1rem;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.55rem;
}

input[type='range']::-ms-fill-upper {
  background: none;
  border: none;
  border-radius: none;
  box-shadow: none;
}

input[type='range']::-ms-fill-lower {
  background: none;
  border: none;
  border-radius: none;
  box-shadow: none;
}

input[type='range']:focus::-ms-fill-lower {
  background: none;
}

input[type='range']:focus::-ms-fill-upper {
  background: none;
}
